* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav img {
    width: 200px;
    margin-left: 54px;
}

nav .navbar-nav {
    margin-left: auto;
    margin-right: 54px;
}
nav .navbar-nav a {
    color: #AD213F !important;
    font-weight: 500;
    font-size: 18px;
    margin-left: 36px;
}

nav .navbar-nav a.signin {
    color: white !important;
    background-color: #AD213F;
    padding: 10px 18px !important;
    border-radius: 10px;
}

nav .navbar-nav a.signup {
    text-decoration: underline;
}

/* hero */
section.hero {
    padding: 30px 30px;
    position: relative;
}
.hero .hero-image {
    height: 600px;
    width: 100%;
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
    border-radius: 50px;
}

section.hero .text {
    margin-top: 160px;
    margin-left: 100px;
    position: absolute;
}

section.hero .text h1 {
    font-weight: 700;
    font-size: 64px;
    color: white;
}

section.hero .text p {
    color: white;
    width: 289px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 14px;
}

section.hero .text a {
    color: white;
    text-decoration: none;
    background-color: #AD213F;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 22px;
}